<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>FG - {{ title }}</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resetStyle.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pageEditStyle.css') }}" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul class="nav-items">
                <li>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
                <li>
                    <a href="{{ url_for('upload_piece') }}">Upload Art Piece</a>
                </li>
                <li>
                    <a href="{{ url_for('upload_sketch') }}">Upload Sketch</a>
                </li>
            </ul>
        </nav>
        
        <small class="copyright">© 2020, Felicity Ann Gunn</small>
    </body>
</html>