/* Navigation */
nav {
    position: fixed;
    z-index: 3;
    width: 200px;
    height: 100vh;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 4px rgb(91, 91, 91);
}
#logo {
    width: 100px;
    margin: 10px 0px;
    height: auto;
}
#burger {
    display: none;
}
#nav-links li {
    margin: 20px 0px;
}
.nav-link {
    transition: .1s ease;
}
.nav-link:hover {
    color: rgb(249, 182, 222);
    transition: .1s ease;
}
.nav-link-active {
    padding: 0px;
    border-radius: 0px;
    border-bottom: 1px solid;
}
.nav-link-active:hover {
    color: rgb(249, 182, 222);
    background-color: transparent;
}
#social {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
#social ul li {
    display: inline;
    margin: 0px 10px;
}
#social ul li img {
    width: 30px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    transition: .1s ease;
}
#social ul li img:hover {
    transition: .1s ease;
    padding: 5px;
    background-color: rgb(249, 182, 222);
}


/* Mobile */
@media screen and (max-width: 500px){
    nav {
        width: 100vw;
        height: 60px;
        transition: .3s ease;
    }
    .drop-nav {
        height: 100vh;
        transition: .2s ease;
    }
    #logo {
        width: 50px;
        margin: 5px 0px;
    }
    #burger {
        display: block;
        position: absolute;
        z-index: 4;
        right: 25px;
        top: 18px;
    }
    #burger:hover {
        cursor: pointer;
    }
    .burger-bar {
        width: 25px;
        height: 2px;
        margin: 4px 0px;
        background-color: black;
        border-radius: 20px;
        transition: .2s ease;
    }
    .bar1-active {
        transform: rotate(-45deg) translate(-5px, 3.5px);
        transition: .2s ease;
    }
    .bar2-active {
        width: 0;
        transition: .2s ease;
    }
    .bar3-active {
        transform: rotate(45deg) translate(-5px, -3.5px);
        transition: .2s ease;
    }
    #nav-links li {
        margin: 50px 0px;
        font-size: 20px;
    }
    #social {
        position: relative;
        margin-top: 70px;
    }
    .nav-container {
        transform: translateY(100vh);
        opacity: 0;
        transition: .2s ease;
    }
    .nav-container-active {
        transform: translateY(0px);
        opacity: 1;
        transition: .2s ease;
    }
}