<nav>

    <!-- Logo -->
    <a href="{{ url_for('home') }}">
        <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Felicty Logo">
    </a>

    <!-- mobile burger -->
    <div id="burger">
        <div id="bar1" class="burger-bar"></div>
        <div id="bar2" class="burger-bar"></div>
        <div id="bar3" class="burger-bar"></div>
    </div>

    <!-- navigation section -->
    <div class="nav-container">
        <ul id='nav-links'>
            <li>
                <a href="{{ url_for('home') }}" class="nav-link">home</a>
            </li>
            <li>
                <a href="{{ url_for('artwork') }}" class="nav-link">artwork</a>
            </li>
            <li>
                <a href="{{ url_for('sketchbook') }}" class="nav-link">sketchbook</a>
            </li>
            <li>
                <a href="{{ url_for('about') }}" class="nav-link">about</a>
            </li>
        </ul>

        <!-- Social Media Links -->
        <div id="social">
            <ul>
                <li class="social-link">
                    <a href="https://www.instagram.com/fofo_power/" target="_blank">
                        <img src="{{ url_for('static', filename='img/instagramLogo.png') }}" alt="Instagram.com">
                    </a>
                </li>
                <li class="social-link">
                    <a href="artstation.com" target="_blank">
                        <img src="{{ url_for('static', filename='img/artstationLogo.png') }}" alt="Felicty Logo">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>
