/* GENERAL */
:root {
    --pink: rgb(249, 182, 222);
    --white: rgb(240, 240, 240);
    --dark: rgb(19, 19, 19);
  }
::-webkit-scrollbar { 
    display: none; 
}


/* BODY */
body, a {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: var(--dark, black);
    background-color: var(--white, white)
}
.highlight {
    color: var(--pink, pink);
}


/* CONTENT */
.content {
    position: absolute;
    right: 0;
    width: calc(100vw - 200px);
}


/* ABOUT */
#profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#profile-container img {
    width: 200px;
    height: 200px;
}
.text-container {
    width: 300px;
    max-width: 100%;
    text-align: center;
}
.text-container h2 {
    font-size: 30px;
    margin: 10px 0px;
}
.text-container p {
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width: 500px){
    .content {
        top: 60px;
        width: 100vw;
    }
    #profile-container {
        height: calc(100vh - 60px);
    }
    #profile-container img {
        width: 150px;
        height: 150px;
    }
}