<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>FG - {{ title }}</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resetStyle.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/formStyle.css') }}" rel="stylesheet">
    </head>
    <body>
        {% for item in nav %}
            <div class="site-link">
                <a href="{{ nav[item] }}" class="nav-link">{{ item }}</a>
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
        
        <small class="copyright">© 2020, Felicity Ann Gunn</small>
    </body>
</html>